---

---

<header>
	<div class="container">
		<h1><a href="/">Header</a></h1>
		<span class="material-symbols-outlined hdr-menu">menu</span>
	</div>
</header>

<style>
	header {
		box-shadow: 0 10px 30px rgba(0,0,0,0.4);
		position: sticky;
		top: 0;
	}
	header .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	header h1 {
		margin: 0;
		padding: 0;		
	}

	header a {
		text-decoration: none;
		color: inherit;
	}

	.hdr-menu {
		cursor: pointer;
	}
</style>