---
import '@assets/css/style.css'
import Head from '@components/Head.astro'
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import Utils from "@components/Utils/Utils.astro"

interface Props {
  title: string
  description: string
  header?: boolean
  footer?: boolean
}

const { title, description, header = true, footer = true } = Astro.props
---
<Head {title} {description} />
  <body>
    {header && (<Header {title} />)}
    <main>
      <slot />
    </main>
    {footer && (<Footer />)}
	<Utils />
  </body>
</html>

<script src="@assets/js/app.ts"></script>